<div>
  <form [formGroup]="reactiveForm" modelAttribute='message'>
    <label>to: </label>
    <input type="email" id="to" name="to" formControlName="to" required>
    <mat-error *ngIf="to.invalid && to.touched">{{getErrorMessageTo()}}</mat-error>
    <br>
    <label>subject: </label>
    <input type="text" id="subject" name="subject" formControlName="subject" required>
    <mat-error *ngIf="to.invalid && to.touched">{{getErrorMessageTo()}}</mat-error>
    <br>
    <textarea id="content" name="content" formControlName="content" rows=”4″ cols=”20″>
      </textarea>
    <div class="form-group">
      <label for="file">upload file:</label>
      <input name="file" id="file" class="form-control" type="file" accept="*/*" (change)="onSelectFile($event)" multiple />
    </div>
    <button type="submit" (click)="sendEmail(reactiveForm)">Send</button>
  </form>
</div>
