<div>
  <form [formGroup]="reactiveForm" modelAttribute='contact'>
    <label>display name:</label>
    <br>
    <input type="text" id="displayname" name="displayname" formControlName="displayname">
    <br>
    <label>email:</label>
    <br>
    <input type="email" id="email" name="email" formControlName="email">
    <br>
    <label>first name:</label>
    <br>
    <input type="text" id="firstname" name="firstname" formControlName="firstname">
    <br>
    <label>last name:</label>
    <br>
    <input type="text" id="lastname" name="lastname" formControlName="lastname">
    <br>
    <label>note:</label>
    <br>
    <input type="text" id="note" name="note" formControlName="note">
    <br>
    <div class="form-group">
        <label for="file">File upload:</label>
        <input name="file" id="file" class="form-control" type="file" accept="image/*" (change)="onSelectFile($event)" />
      </div>
    <button type="submit" (click)="addContact(reactiveForm)">Submit</button>
  </form>
</div>