<table>
  <tr>
    <th>to</th>
    <th>subject</th>
    <th>date</th>
  </tr>
  <ng-container *ngFor="let data of emails">
    <tr (click)="onSelect(data)">
      <td>{{data.to}}</td>
      <td>{{data.subject}}</td>
      <td>{{data.dateTime}}</td>
    </tr>
  </ng-container>
</table>