<div>
  <form class="forms">
    <input [formControl]="username" required type="text" name="username" id="userinput">
    <mat-error *ngIf="!authenticationFlag">Username or password is incorrect.</mat-error>
    <mat-error *ngIf="username.invalid && username.touched">{{getErrorMessageu()}}</mat-error>
    <br>
    <input [formControl]="password" required type="password" name="password" id="passinput">
    <mat-error *ngIf="password.invalid  && password.touched">{{getErrorMessagep()}}</mat-error>
    <br>
    <input (click)="login(username, password)" type="submit" value="login">
  </form>
</div>
