<form>
  <div class="form-group">
    <label for="file">File upload:</label>
    <input class="form-control" type="file" accept="application/pdf,application/msword,application/excel,image/jpeg,image/pjpeg,image/tiff,image/x-tiff" (change)="onSelectFile($event)" />
  </div>
  <button type="submit" (click)="saveForm()">upload</button>
</form>

