<table>
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Email</th>
    </tr>
    <ng-container *ngFor="let data of kontakti">
      <tr (click)="onSelect(data)">
        <td>{{data.firstname}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.email}}</td>
        <td><img src={{data.photoDTO.fileDownloadUri}}></td>

      </tr>
    </ng-container>
  </table>
  <div *ngIf="selectedKontakt">
      <label>id:
        <input [(ngModel)]="selectedKontakt.id" placeholder="id"/>
      </label>
      <label>email:
        <input [(ngModel)]="selectedKontakt.email" placeholder="email"/>
      </label>
      <label>firstname:
        <input [(ngModel)]="selectedKontakt.firstname" placeholder="firstname"/>
      </label>
      <label>lastname:
        <input [(ngModel)]="selectedKontakt.lastname" placeholder="lastname"/>
      </label>
      <label>slika:
        <input name="file" id="file" class="form-control" type="file" accept="image/*" (change)="onSelectFile($event)" />

      </label>
        <button (click)="editContact(selectedKontakt)" type="submit">izmeni</button>
  </div>

