<div>
  <a href="sendMail">posalji mejl</a>
  <br>
  <a href="inbox">sva posta</a>
  <br>
  <a href="unread">ne procitane</a>
  <br>
  <a href="sent">poslate poruke</a>
  <br>
  <a href="add-contact">dodaj kontakt</a>
  <br>
  <a href="edit-contact">izmeni kontakt</a>
  <br>
  <button class="logoutiziren" type="submit" (click)="logout()">run away</button>
</div>
