<div>
  <form [formGroup]="reactiveForm">
    <label>first name</label>
    <br>
    <input type="text" id="firstname" name="firstname" formControlName="firstname">
    <br>
    <label>last name</label>
    <br>
    <input type="text" id="lastname" name="lastname" formControlName="lastname">
    <br>
    <label>username</label>
    <br>
    <input type="text" id="username" name="username" formControlName="username">
    <br>
    <label>password</label>
    <br>
    <input type="password" id="password" name="password" formControlName="password">
    <button type="submit" (click)="registerMe(reactiveForm)">Submit</button>
  </form>
</div>